
stages:
  - test

.test:
  stage: test
  image: ruby:${RUBY_VERSION}-bullseye
  variables:
    GIT_DEPTH: "1"
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_PATHS: task
    RUBYOPT: --enable-frozen-string-literal
  before_script:
    - bundle install --retry=3
    - unset CI # Coverage doesn't work well with frozen literal
  script:
    - ruby -vr bundler/setup -S rake test

.with-specific-rack:
  variables:
    RACK_VERSION: 3.1.16

ruby:3.2:
  extends:
    - .test
  variables:
    RUBY_VERSION: '3.2'

ruby:3.3:
  extends:
    - .test
  variables:
    RUBY_VERSION: '3.3'

ruby:3.4:
  extends:
    - .test
  variables:
    RUBY_VERSION: '3.4'

ruby:3.2-with-specific-rack:
  extends:
    - ruby:3.2
    - .with-specific-rack

ruby:3.3-with-specific-rack:
  extends:
    - ruby:3.3
    - .with-specific-rack

ruby:3.4-with-specific-rack:
  extends:
    - ruby:3.4
    - .with-specific-rack
