<label for="sum_no_wave_input">
  <input type="checkbox" id="sum_no_wave_input" name="sum_no_wave"
    <%= checked_sum_no_wave %>
    onchange="roll(this)">
   Discount wave/surge/explosion from DPS and damage sum
</label>

<label for="dps_no_critical_input">
  <input type="checkbox" id="dps_no_critical_input"
    name="dps_no_critical"
    <%= checked_dps_no_critical %>
    onchange="roll(this)">
   Discount critical strikes and savage blows from DPS
</label>
